.footer {
  box-sizing: border-box;
  color: #fff;
  padding: 60px 100px 60px 80px;
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}


.footer__logo {
  width: 105px;
  height: 39px;
  margin: 0;
  padding: 0;
}

.footer__social-heading{
  margin: 0 0 20px;
  font-family: "Inter",Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item{
  margin: 0 0 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 108px 0 auto;
}